/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetice Neue", Helvetica, arial, sans-serif;
    color: #111;
    padding: 48px24px24px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 42em;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: top;
}

::selection {
    background: #44C8F5;
    color: white;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {
    font-style: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-style: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol
{
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {

}

a {
    color: royalblue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: blueviolet;
}

a:hover,
a:focus {
    color: crimson;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    text-align: left;
}

th,td {
    padding: 4px 8px;
    border-bottom: 1px solid gainsboro;
}

.odd {
    background-color: whitesmoke;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        padding: 48px 48px 24px;
    }

    h1 {
        font-size: 58px;
        line-height: 64px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

